<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
  xmlns:context="http://www.springframework.org/schema/context" xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
  xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/mvc 
	http://www.springframework.org/schema/mvc/spring-mvc.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd">

  <!-- MVC -->
  <mvc:annotation-driven />
  <mvc:resources location="/WEB-INF/static/" mapping="/static/**" />

  <!-- Transaction Manager -->
  <tx:annotation-driven proxy-target-class="true" />

  <!-- AOP Auto Proxy -->
  <aop:aspectj-autoproxy />

  <!-- This AOP logger uses Springs internal interceptor to trace method calls -->
  <!-- <aop:config> <aop:advisor advice-ref="customizableTraceInterceptor" pointcut="execution(public * com.trc.manager..*(..))" /> </aop:config> -->

  <!-- Begin Component Scan -->
  <context:component-scan base-package="com.tscp.util.logger.**" scoped-proxy="targetClass" />
  <context:component-scan base-package="com.trc.**" />
  <context:component-scan base-package="com.tscp.**" />

  <bean id="jacksonMessageConverter" class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter" />

  <!-- Begin View Resolver -->
  <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    <property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
    <property name="prefix" value="/WEB-INF/views/default/" />
    <property name="suffix" value=".jsp" />
  </bean>

  <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
    <property name="basename" value="classpath:messages/messages" />
    <property name="defaultEncoding" value="UTF-8" />
  </bean>

  <!-- Begin jCaptcha -->
  <bean class="com.octo.captcha.service.image.DefaultManageableImageCaptchaService" id="imageCaptchaService" />

  <import resource="data.xml" />
  <import resource="security.xml" />
  <import resource="webflow.xml" />
  <import resource="mail.xml" />

</beans>