/* --------------------------------------------------------------

   forms.css
   * Sets up some default styling for forms
   * Gives you classes to enhance your forms

   Usage:
   * For text fields, use class .title or .text
   * For inline forms, use .inline (even when using columns)

-------------------------------------------------------------- */

/* 
	A special hack is included for IE8 since it does not apply padding 
	correctly on fieldsets
 */ 
label       { font-weight: bold; }
fieldset    { padding:0 1.4em 1.4em 1.4em; margin: 0 0 1.5em 0; border: 1px solid #ccc; }
legend      { font-weight: bold; font-size:1.2em; margin-top:-0.2em; margin-bottom:1em; }

fieldset, #IE8#HACK { padding-top:1.4em; } 
legend, #IE8#HACK { margin-top:0; margin-bottom:0; }

/* Form fields
-------------------------------------------------------------- */

/* 
  Attribute selectors are used to differentiate the different types 
  of input elements, but to support old browsers, you will have to 
  add classes for each one. ".title" simply creates a large text  
  field, this is purely for looks.
 */
input[type=text], input[type=password],
input.text, input.title,
textarea {
  background-color:#fff;
  border:1px solid #bbb;
  color:#000; 
}
input[type=text]:focus, input[type=password]:focus,
input.text:focus, input.title:focus,
textarea:focus {
  border-color:#56B4EF;
}
select { background-color:#fff; border-width:1px; border-style:solid; }

input[type=text], input[type=password],
input.text, input.title,
textarea, select {
  margin:0.5em 0;
}

input.text,
input.title   { width: 300px; padding:5px; }
input.title   { font-size:1.5em; }
textarea      { width: 390px; height: 250px; padding:5px; }

/* 
  This is to be used on forms where a variety of elements are 
  placed side-by-side. Use the p tag to denote a line. 
 */
form.inline { line-height:3; }
form.inline p { margin-bottom:0; }

/* Success, info, notice and error/alert boxes
-------------------------------------------------------------- */

input.error {
	background: #fbe3e4;
}

#main-content div.alert p, #main-content div.error p, #main-content div.notice p, #main-content div.success p, #main-content div.info p {
	color: #404040;
	font-size: 13px;
	margin: 0;
	padding: 0;
}

#main-content div.alert h1, #main-content div.error h1, #main-content div.notice h1, #main-content div.success h1, #main-content div.info h1 {
	font-size: 16px;
	font-weight: bold;
	margin: 0 0 5px 0;
	padding: 0;
}

#main-content div.alert h1, #main-content div.error h1 { color: #c74344; }
#main-content div.notice h1 { color: #ffad00; }
#main-content div.success h1 { color: #43a744; }
#main-content div.info h1 { color: #006eab; }

div.error,
div.alert, 
div.notice,
div.success, 
div.info 			{ padding: 0.8em; margin-bottom: 1em; border: 2px solid #ddd; }

div.error, div.alert { background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
div.notice     { background: #fff6bf; color: #514721; border-color: #ffd324; }
div.success    { background: #e6efc2; color: #264409; border-color: #c6d880; }
div.info 			{ background: #d5edf8; color: #205791; border-color: #92cae4; }
div.error a, div.alert a { color: #c74344; }
div.notice a   { color: #ffad00; }
div.success a  { color: #43a744; }
div.info a			{ color: #006eab; }
