/* --------------------------------------------------------------
Global Settings
-------------------------------------------------------------- */
body { /* background: #FFF url('../images/bkg_s1.jpg') repeat-x; */
	font-family: "Lucida Grande", "Arial Unicode MS", sans-serif;
	-webkit-font-smoothing: antialiased;
	color: #333;
	font-size: 12px;
	line-height: 18px;
}

body.content {
	/* background: #FFF url('../images/bkg-content_s1.jpg') repeat-x; */
	font-family: "Lucida Grande", "Arial Unicode MS", sans-serif;
	-webkit-font-smoothing: antialiased;
	color: #333;
	font-size: 12px;
	line-height: 18px;
}

body.app {
	/* background: #FFF url('../images/bkg-app_s1.jpg') repeat-x; */
	font-family: "Lucida Grande", "Arial Unicode MS", sans-serif;
	-webkit-font-smoothing: antialiased;
	color: #333;
	font-size: 12px;
	line-height: 18px;
}

a:link {
	text-decoration: none;
	color: #006AB3;
}

a:visited {
	text-decoration: none;
	color: #006AB3;
}

a:hover {
	text-decoration: none;
	color: #000;
}

a:active {
	text-decoration: none;
	color: #999;
}

p {
	line-height: 18px;
}

/* --------------------------------------------------------------
Header
-------------------------------------------------------------- */
#header {
	height: 88px;
	width: 950px;
}

#header .logo {
	margin: 15px 0 0 0;
}

#header .secondary-navigation {
	text-align: right;
}

#header .secondary-navigation ul {
	margin: 10px 0 26px 0;
	padding: 0;
	list-style-type: none;
}

#header .secondary-navigation li {
	display: inline;
	margin: 0 0 0 20px;
}

#header .secondary-navigation a:link {
	text-decoration: none;
	color: #006AB3;
}

#header .secondary-navigation a:visited {
	text-decoration: none;
	color: #006AB3;
}

#header .secondary-navigation a:hover {
	text-decoration: none;
	color: #000;
}

#header .secondary-navigation a:active {
	text-decoration: none;
	color: #999;
}

#header .secondary-navigation a.current {
	color: #999;
}

#header .app-navigation {
	text-align: left;
}

#header .app-navigation ul {
	margin: 30px 0 0 0;
	padding: 0;
	list-style-type: none;
}

#header .app-navigation li {
	display: inline;
	margin: 0 30px 0 0;
}

#header .app-navigation a:link {
	text-decoration: none;
	color: #006AB3;
}

#header .app-navigation a:visited {
	text-decoration: none;
	color: #006AB3;
}

#header .app-navigation a:hover {
	text-decoration: none;
	color: #000;
}

#header .ap-navigation a:active {
	text-decoration: none;
	color: #999;
}

#header .app-navigation a.current {
	color: #999;
}

#header .navigation {
	text-align: right;
	font-family: "myriad-pro-1", "myriad-pro-2", sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 15px;
	color: #000;
}

#header .navigation ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#header .navigation li {
	display: inline;
	margin: 0 0 0 40px;
}

#header .navigation a:link {
	text-decoration: none;
	color: #000;
}

#header .navigation a:visited {
	text-decoration: none;
	color: #000;
}

#header .navigation a:hover {
	text-decoration: none;
	color: #0069B3;
}

#header .navigation a:active {
	text-decoration: none;
	color: #18B3E8;
}

#header .navigation a.current {
	color: #999;
}

#main-content .sub-navigation ul {
	margin: 0;
	padding: 0;
	font-size: 12px;
	list-style-type: none;
}

#main-content .sub-navigation li a:after {
	content: ' \BB ';
}

#main-content .sub-navigation li {
	margin: 0;
	padding: 0;
	color: #006AB3;
}

#main-content .sub-navigation li.active {
	color: black;
}

/* --------------------------------------------------------------
Banner
-------------------------------------------------------------- */
#banner {
	height: 384px;
	width: 950px;
	position: relative;
}

body.content #banner {
	height: 125px;
	width: 950px;
}

#banner h1 {
	font-family: "myriad-pro-1", "myriad-pro-2", sans-serif;
	font-weight: 500;
	letter-spacing: 1px;
	font-style: normal;
	line-height: 30px;
	font-size: 28px;
	color: #FFF;
	margin: 0px 0 10px 0;
	padding: 30px 0 10px 0;
}

body.content #banner h1 {
	font-family: "myriad-pro-1", "myriad-pro-2", sans-serif;
	font-weight: 500;
	font-style: bold;
	font-size: 30px;
	color: #FFF;
	margin: 0;
	padding: 50px 0 0 0;
}

#banner h2 {
	color: #ffffff;
	line-height: 20px;
	font-size: 16px;
	letter-spacing: 1px;
	padding: 2px 5px 2px 2px;
	font-style: italic;
	font-weight: 600;
}

#banner p {
	color: #FFF;
	font-size: 18px;
	margin: 10px 0 0px 0;
	padding: 0 0 0 0;
	line-height: 28px;
}

#banner .slide ol,#banner .slide ul {
	color: #FFF;
	font-size: 18px;
	margin: 10px 0 40px 0;
	padding: 4px 0 0 30px;
	line-height: 20px;
	margin-top: 20px;
}

#banner .slide li {
	margin: 0 0 16px 0;
	padding: 0 0 0 0px;
}

#banner a.button-black {
	position: absolute;
	left: 0px;
	top: 280px;
	font-family: "myriad-pro-1", "myriad-pro-2", sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 20px;
	margin: 0;
	display: block;
	width: 290px;
	height: 24px;
	text-align: center;
	padding: 10px 0 11px 0;
	color: #FFF;
	text-decoration: none;
	background: url('../images/button-black.png') no-repeat 0px 0px;
}

#banner a.button-black:hover {
	color: #FFF;
	background: url('../images/button-black.png') no-repeat 0px -45px;
}

/* --------------------------------------------------------------
Banner Slides
-------------------------------------------------------------- */
#slides {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}

.slides_container {
	width: 950px;
	height: 384px;
	overflow: hidden;
	position: relative;
	display: none;
}

#slides .slide {
	padding: 0;
	width: 950px;
	height: 384px;
	display: block;
}

.slide-1 {
	background: url('../images/home/man_laptop_r1_c2_s1.jpg') no-repeat
		right 0px;
}

.slide-2 {
	background: url('../images/home/superman_s1.jpg') no-repeat right 0px;
}

.slide-3 {
	background: url('../images/home/devices_r1_c2_s1.jpg') no-repeat right
		0px;
}

.slide-4 {
	background: url('../images/home/laptopplane2.png') no-repeat right 0px;
}

.pagination {
	position: absolute;
	top: 363px;
	z-index: 300;
	display: block;
	margin: -18px 0 0 8px;
	width: 470px;
}

.pagination li {
	float: left;
	margin: 0 6px;
	list-style: none;
}

.pagination li a {
	display: block;
	width: 12px;
	height: 0;
	padding-top: 12px;
	background-image: url(../images/pagination.png);
	background-position: 0 0;
	float: left;
	overflow: hidden;
}

.pagination li.current a {
	background-position: 0 -12px;
}
/* --------------------------------------------------------------
Main Content
-------------------------------------------------------------- */
#main-content {
	margin: 0 0 0 0;
}

#main-content p {
	margin: 0 0px 15px 0;
	font-size: 14px;
	line-height: 22px;
	font-weight: 100;
	color: #404040;
	padding: 10px 0 0 0;
}

#main-content p.quote {
	font-style: italic;
}

#main-content p.sig {
	text-align: right;
}

#main-content h1 {
	font-family: "myriad-pro-1", "myriad-pro-2", sans-serif;
	font-weight: 100;
	font-style: normal;
	font-size: 24px;
	color: #0067B2;
	margin: 30px 0 10px 0;
}

#main-content h2 {
	color: black;
	font-weight: normal;
	line-height: 14px;
	font-size: 14px;
	letter-spacing: 1px;
	font-style: italic;
	font-family: "myriad-pro-1", "myriad-pro-2", sans-serif;
	font-weight: 100;
	margin: 0 0 0 0;
}

#main-content h3 {
	font-size: 18px;
	color: #0067B2;
	font-weight: normal;
	margin: 0;
	padding: 10px 0 10px 0;
	font-family: "myriad-pro-1", "myriad-pro-2", sans-serif;
}

#main-content ul,#main-content ol {
	font-size: 14px;
	color: #404040;
	padding: 10px 0 0 20px;
}

#main-content li {
	line-height: 22px;
}

#main-content .box,#banner .box {
	padding: 15px;
	margin: 0 auto 10px auto;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border: 1px solid #ccc;
	background: #FAFAFA;
	-moz-box-shadow: inset 0px 3px 4px #E0E0E0;
	-webkit-box-shadow: inset 0px 3px 4px #E0E0E0;
	box-shadow: inset 0px 3px 4px #E0E0E0;
}

#main-content div.center {
	margin: 0 20px 0 20px;
}

#main-content .box h1,#banner .box h1 {
	font-size: 16px;
	font-family: "Lucida Grande", "Arial Unicode MS", sans-serif;
	color: #0067B2;
	margin: 0 0 10px 0;
	padding: 0 0 0 0;
}

#main-content .box h2,#banner .box h2 {
	font-size: 12px;
	font-weight: normal;
	color: #505050;
	margin: 0 0 10px 0;
	padding: 0 0 0 0;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
}

/* for table */
#main-content .box img,#banner .box img {
	height: 14px;
}

#main-content .box .pricing p,#banner .box .pricing p {
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	color: #333;
	margin: 0;
	padding: 0;
}

#main-content .box .pricing p span.price,#banner .box .pricing p span.price
	{
	font-family: "myriad-pro-1", "myriad-pro-2", sans-serif;
	font-weight: 500;
	font-style: normal;
	text-align: center;
	font-size: 18px;
	color: red;
	margin: 0 0 5px 0;
	padding: 0;
	display: block;
}

#main-content .box .pricing p span.small,#banner .box .pricing p span.small
	{
	font-family: "myriad-pro-1", "myriad-pro-2", sans-serif;
	font-weight: 100;
	font-style: normal;
	text-align: center;
	font-size: 10px;
	color: #0069B3;
	margin: 0 0 5px 0;
	padding: 0;
	display: block;
}

#main-content .box .pricing hr,#banner .box .pricing hr {
	margin: 6px 0 6px 0;
}

#main-content .box .pricing .comp-col,#banner .box .pricing .comp-col {
	height: 230px;
}

#main-content p.pricing {
	font-family: "myriad-pro-1", "myriad-pro-2", sans-serif;
	font-weight: 600;
	font-style: normal;
	text-align: left;
	font-size: 18px;
	color: #0069B3;
	margin: 0 0 5px 0;
	padding: 0;
}

#main-content img.right {
	float: right;
	padding: 0 20px 15px 20px;
	margin: 0;
}

#main-content img.left {
	float: none;
	padding: 0 0 15px 0;
	margin: 0;
}

#main-content a.button-blue {
	font-family: "myriad-pro-1", "myriad-pro-2", sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 20px;
	margin: 0;
	display: inline-block;
	width: 140px;
	height: 15px;
	text-align: center;
	padding: 8px 0 12px 0;
	color: #FFF;
	text-decoration: none;
	background: url('../images/button-blue.png') no-repeat 0px 0px;
}

#main-content a.button-blue:hover {
	color: #FFF;
	background: url('../images/button-blue.png') no-repeat 0px -35px;
}

#main-content div.content-header {
	margin: 0 0 20px 0;
}

#main-content .content-header p {
	font-size: 16px;
	color: #404040;
	font-weight: 100;
	margin: 0 0 0 0;
	padding: 10px 0 20px 0;
	line-height: 24px;
}

#main-content .content-header h1 {
	font-size: 32px;
	color: #303030;
	margin: 0 0 0 0;
	font-weight: 100;
	font-variant: normal;
	font-style: normal;
	padding: 20px 0 10px 0;
}

#main-content .content-header h2 {
	font-size: 20px;
	color: #303030;
	margin: 0 0 0 0;
	padding: 20px 0 20px 0;
}

#main-content div.center-image {
	text-align: center;
	width: 60%;
	margin: 70px auto 0 auto;
}

#main-content .center-image p {
	width: 100%;
	text-align: center;
}

#main-content div.breakline {
	width: 100%;
	height: 70px;
	clear: both;
	background: url('../images/breakline.png') center 0 no-repeat;
}

#main-content p.faq-question {
	margin: 10px 0 0 0;
	padding: 0 0 0 0;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

#main-content p.faq-question:before {
	content: '\BB \ ';
}

#main-content p.faq-answer {
	display: none;
	margin: 0 0 0 20px;
	padding: 6px 6px 6px 12px;
	width: 100%;
	background: #f8f8f8;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	cursor: default;
}

#main-content div.alert p {
	color: #404040;
	font-size: 13px;
	margin: 0;
	padding: 0;
}

#main-content div.alert h1 {
	font-size: 16px;
	font-weight: bold;
	color: #c74344;
	margin: 0 0 5px 0;
	padding: 0;
}

/* --------------------------------------------------------------
Footer
-------------------------------------------------------------- */
#footer {
	margin: 40px 0 0 0;
	padding: 20px 0 0 0;
	border-top: 5px solid #ccc;
	/* background: transparent url('../../images/background/footer_bar.png') repeat-x; */
}

#footer p {
	color: #999;
}

#footer h2 {
	font-weight: bold;
	font-size: 12px;
	color: #999;
	margin: 0 0 15px 0;
}

#footer ul {
	list-style-type: none;
	margin: 0 0 20px 0;
	padding: 0;
}

#footer li {
	margin: 0 0 5px 0;
	padding: 0;
}

#footer a:link {
	text-decoration: none;
	color: #999;
}

#footer a:visited {
	text-decoration: none;
	color: #999;
}

#footer a:hover {
	text-decoration: none;
	color: #000;
}

#footer a:active {
	text-decoration: none;
	color: #333;
}

#footer .footer-navigation a:link {
	text-decoration: none;
	color: #0069B3;
}

#footer .footer-navigation a:visited {
	text-decoration: none;
	color: #0069B3;
}

#footer .footer-navigation a:hover {
	text-decoration: none;
	color: #000;
}

#footer .footer-navigation a:active {
	text-decoration: none;
	color: #333;
}

#footer .footer-navigation p span {
	text-align: right;
	margin: 0;
	padding: 0;
}

#footer .footer-navigation p {
	text-align: left;
	margin: 0;
	padding: 0;
}

a.button {
	display: block;
	float: left;
	text-decoration: none;
}

p a.button {
	margin-top: 6px;
}

a.button:hover {
	background-position: top left;
}

a.button:hover span {
	background-position: top right;
}

a.button span {
	display: block;
}

a.multi {
	padding-right: 5px;
}

a:link.ovalbutton,a:visited.ovalbutton,a:active.ovalbutton {
	color: white;
}

a.action-m {
	background: transparent
		url('../../images/buttons/sliding/button-action-m-left.png') no-repeat
		bottom left;
	font: normal 16px Helvetica;
	line-height: 18px;
	height: 28px;
	padding-left: 4px;
}

a.action-m span {
	background: transparent
		url('../../images/buttons/sliding/button-action-m-right.png')
		no-repeat bottom right;
	color: white;
	padding: 6px 15px 4px 11px;
}

a.semi-m {
	background: transparent
		url('../../images/buttons/sliding/button-semi-m-left.png') no-repeat
		bottom left;
	font: normal 16px Helvetica;
	line-height: 18px;
	height: 28px;
	padding-left: 4px;
}

a.semi-m span {
	background: transparent
		url('../../images/buttons/sliding/button-semi-m-right.png') no-repeat
		bottom right;
	color: #404040;
	padding: 6px 15px 4px 11px;
}

a.escape-m {
	background: transparent
		url('../../images/buttons/sliding/button-escape-m-left.png') no-repeat
		bottom left;
	font: normal 16px Helvetica;
	line-height: 18px;
	height: 28px;
	padding-left: 4px;
}

a.escape-m span {
	background: transparent
		url('../../images/buttons/sliding/button-escape-m-right.png')
		no-repeat bottom right;
	color: white;
	padding: 6px 15px 4px 11px;
}

a.action-s {
	background: transparent
		url('../../images/buttons/sliding/button-action-s-left.png') no-repeat
		bottom left;
	font: normal 13px Helvetica;
	line-height: 17px;
	height: 22px;
	padding-left: 4px;
}

a.action-s span {
	background: transparent
		url('../../images/buttons/sliding/button-action-s-right.png')
		no-repeat bottom right;
	color: white;
	padding: 3px 16px 2px 11px;
}

a.semi-s {
	background: transparent
		url('../../images/buttons/sliding/button-semi-s-left.png') no-repeat
		bottom left;
	font: normal 13px Helvetica;
	line-height: 17px;
	height: 22px;
	padding-left: 4px;
}

a.semi-s span {
	background: transparent
		url('../../images/buttons/sliding/button-semi-s-right.png') no-repeat
		bottom right;
	color: #404040;
	padding: 3px 16px 2px 11px;
}

a.escape-s {
	background: transparent
		url('../../images/buttons/sliding/button-escape-s-left.png') no-repeat
		bottom left;
	font: normal 13px Helvetica;
	line-height: 17px;
	height: 22px;
	padding-left: 4px;
}

a.escape-s span {
	background: transparent
		url('../../images/buttons/sliding/button-escape-s-right.png')
		no-repeat bottom right;
	color: white;
	padding: 3px 16px 2px 11px;
}

a.action-l {
	background: transparent
		url('../../images/buttons/sliding/button-action-l-left.png') no-repeat
		bottom left;
	font: normal 24px Helvetica;
	line-height: 30px;
	height: 40px;
	padding-left: 4px;
}

a.action-l span {
	background: transparent
		url('../../images/buttons/sliding/button-action-l-right.png')
		no-repeat bottom right;
	color: white;
	padding: 6px 20px 4px 15px;
}

a.semi-l {
	background: transparent
		url('../../images/buttons/sliding/button-semi-l-left.png') no-repeat
		bottom left;
	font: normal 24px Helvetica;
	line-height: 30px;
	height: 40px;
	padding-left: 4px;
}

a.semi-l span {
	background: transparent
		url('../../images/buttons/sliding/button-semi-l-right.png') no-repeat
		bottom right;
	color: #404040;
	padding: 6px 20px 4px 15px;
}

a.escape-l {
	background: transparent
		url('../../images/buttons/sliding/button-escape-l-left.png') no-repeat
		bottom left;
	font: normal 24px Helvetica;
	line-height: 30px;
	height: 40px;
	padding-left: 4px;
}

a.escape-l span {
	background: transparent
		url('../../images/buttons/sliding/button-escape-l-right.png')
		no-repeat bottom right;
	color: white;
	padding: 6px 20px 4px 15px;
}

.sub-navigation input.sign-in {
	font-size: 16px;
	color: #a0a0a0;
}

.sub-navigation h4.progress-active {
	color: #0067b2;
}

.sub-navigation h4.progress-next {
	color: #a0a0a0;
}

.sub-navigation h4.progress-prev {
	color: #404040;
}

.f-right {
	float: right;
	text-align: right;
}

.f-left {
	float: left;
}

.app-form input {
	outline: none;
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	font-size: 16px;
}

.app-form input:focus {
	border: 1px solid #56B4EF;
	box-shadow: 0 0 5px rgba(0, 103, 178, 1);
	-webkit-box-shadow: 0 0 5px rgba(0, 103, 178, 1);
	-moz-box-shadow: 0 0 5px rgba(0, 103, 178, 1);
}

.app-form select {
	font-size: 16px;
}

.app-form span.form-name {
	clear: both;
	line-height: 36px;
}

.app-form span.required {
	position: relative;
	top: -2px;
	font-size: 12px;
	color: #e00000;
}

.app-form span.required-desc {
	font-size: 12px;
	color: #e00000;
}

.app-form div.known-address {
	margin-bottom: 16px;
}

.app-form span.more-info {
	position: relative;
	top: 8px;
	padding-left: 10px;
	font-size: 12px;
}

.blueTruConnectGradient {
	line-height: 30px;
	font-size: 20px;
	font-weight: normal;
	color: #0067B2;
	border-top: 4px #18b3e9 solid;
	padding-top: 10px;
	/*
  background: url('../../images/background/bkg_s2.jpg') repeat-x 0px -100px;
  background-image: -moz-linear-gradient(top, #18b3e9, #0069b3); 
  background-image : -webkit-gradient( linear, left top, left bottom, from( #18b3e9), to( #0069b3));
  filter: progid : DXImageTransform.Microsoft.gradient (   startColorstr =   '#18b3e9', endColorstr = '#0069b3' );
  */
}

.centerFloats {
	float: right;
	position: relative;
	left: -50%;
	text-align: left;
}

.centerFloats ul {
	list-style: none;
	position: relative;
	left: 50%;
}

.centerFloats li {
	float: left;
	position: relative;
	/* ie needs position:relative here*/
}

.formProgress h4 {
	padding: 0px;
	margin: 8px 0px 8px 0px;
	color: #a0a0a0;
	counter-increment: formProgress;
}

.formProgress h4.current {
	color: #0067b2;
}

.formProgress h4:before {
	content: counter(formProgress) ". ";
	counter-reset: subformProgress;
}

.formProgress h5 {
	padding: 0px;
	margin: 2px 2px 2px 30px;
	color: #a0a0a0;
	counter-increment: subformProgress;
}

.formProgress h5.current {
	color: #76acd3;
}

.formProgress h5:before {
	content: counter(formProgress) "." counter(subformProgress) " ";
}

div.address {
	float: left;
	font-size: 14px;
	line-height: 18px;
	width: 230px;
	height: 85px;
	position: relative;
	margin: 10px 0px 10px 0px;
	padding-bottom: 5px;
}

div.address .addressButtons {
	position: absolute;
	bottom: 10px;
}

div.address div:first-child {
	font-weight: bold;
}

#jsCheck {
	width: 100%;
	height: 50px;
	line-height: 50px;
	border: 1px black solid;
	background: #eee;
	position: fixed;
	top: 25%;
	left: 0;
	z-index: 500;
	font-size: 20px;
	text-align: center;
	vertical-align: center;
	z-index: 500;
}

#jsCheckCurtain {
	background-color: #111;
	opacity: 0.45;
	filter: alpha(opacity =     0.45);
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 200;
	width: 100%;
	height: 100%;
}

.hidden {
	display: none;
}

#main-content h6 {
	font-size: 18px;
	color: #0067B2;
	font-weight: normal;
	font-family: "myriad-pro-1", "myriad-pro-2", sans-serif;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px #ccc dotted;
}