<html>
<body>
<div>
<div style="border-bottom:1px solid #999; margin-bottom:15px; font-size:15px;">
<img src="https://activate.truconnect.com/static/images/logo/logo_s1.jpg">
</div>
<div style="width: 95%; margin:0px auto;">
<h3 style="color:gray;">Password Reset</h3>
<p>Your TruConnect.com password has been reset for you.</p>
<p>Please use the new credentials below to login and be sure to update your password.</p>

<p>
	<b>Username:</b> ${user.username}<br/>
	<b>Email:</b> ${user.email}<br/>
	<b>Password:</b> ${password}
</p>

<p>Login and update your password <a href="https://activate.truconnect.com/TruConnect/profile/update/password">here</a>.</p>

</div>
</div>
</body>
</html>