<html>
<body>
<div>
<div style="border-bottom:1px solid #999; margin-bottom:15px; font-size:15px;">
<img src="https://account.webonthego.com/static/images/logo/logo_s1.png">
</div>
<div style="width: 95%; margin:0px auto;">
<h3 style="color:gray;">You have requested to reset your password.</h3>
<p>Please <a href="https://account.webonthego.com/reset/password/verify/${key}">click here</a> to complete the request.</p>
<p>If you did not make this request then please ignore this email. If you have questions please contact our Customer Support team.</p></div>
</div>
</body>
</html>