<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
  <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned by default the type ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
    <encoder>
      <pattern>
        %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{24} - %X{sessionId} %X{username} %msg%n
      </pattern>
    </encoder>
  </appender>

  <appender name="AOP_ROLLINGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>../logs/domain/wotg/webonthego.log</File>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>../logs/domain/wotg/webonthego.%d{yyyy-MM-dd}.%i.log.zip</FileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>5MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level: %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="DEBUG_ROLLINGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>../logs/domain/wotg/debug.log</File>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>../logs/domain/wotg/debug.%d{yyyy-MM-dd}.log.zip</FileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>5MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{24}: %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="ACTIVATION_ROLLINGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>../logs/domain/wotg/activation.log</File>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>../logs/domain/wotg/activation.%d{yyyy-MM-dd}.%i.log.zip</FileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>5MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level: %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="HIBERNATE_ROLLINGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>../logs/domain/wotg/hibernate.log</File>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>../logs/domain/wotg/hibernate.%d{yyyy-MM-dd}.%i.log.zip</FileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>5MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level: %msg%n</pattern>
    </encoder>
  </appender>

  <!-- set to debug for more info -->
  <logger name="org.hibernate.SQL" level="debug">
    <appender-ref ref="HIBERNATE_ROLLINGFILE" />
  </logger>

  <!-- set to trace for more info -->
  <logger name="org.hibernate.type" level="debug">
    <appender-ref ref="HIBERNATE_ROLLINGFILE" />
  </logger>

  <logger name="com.tscp.mvna.domain.activation" level="info">
    <appender-ref ref="ACTIVATION_ROLLINGFILE" />
  </logger>

  <logger name="aspect" level="INFO">
    <appender-ref ref="AOP_ROLLINGFILE" />
  </logger>

  <logger name="com.tscp" level="all">
    <appender-ref ref="DEBUG_ROLLINGFILE" />
  </logger>

  <root level="OFF">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>