<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
  <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned by default the type ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
    <encoder>
      <pattern>
        %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %X{sessionId} %X{username} %msg%n
      </pattern>
    </encoder>
  </appender>

  <appender name="ROLLINGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>../logs/webonthego.log</File>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>../logs/webonthego/webonthego.%d{yyyy-MM-dd}.%i.log.zip</FileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>5MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level: %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="ERR_ROLLINGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>../logs/webonthego_errors.log</File>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>../logs/webonthego/webonthego_errors.%d{yyyy-MM-dd}.%i.log.zip</FileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>5MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36}: %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="DEV_ROLLINGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>../logs/webonthego_dev.log</File>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>../logs/webonthego/webonthego_dev.%d{yyyy-MM-dd}.log.zip</FileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>5MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36}: %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="HIBERNATE_ROLLINGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>../logs/webonthego_hibernate.log</File>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>../logs/webonthego/webonthego_hibernate.%d{yyyy-MM-dd}.%i.log.zip</FileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>5MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level: %msg%n</pattern>
    </encoder>
  </appender>


  <logger name="org.hibernate.SQL" level="debug">
    <appender-ref ref="HIBERNATE_ROLLINGFILE" />
  </logger>

  <logger name="org.hibernate.type" level="trace">
    <appender-ref ref="HIBERNATE_ROLLINGFILE" />
  </logger>

  <logger name="aspect" level="ALL">
    <appender-ref ref="ROLLINGFILE" />
  </logger>

  <logger name="devLogger" level="ALL">
    <appender-ref ref="DEV_ROLLINGFILE" />
  </logger>

  <logger name="com.trc" level="ERROR">
    <appender-ref ref="DEV_ROLLINGFILE" />
    <appender-ref ref="ERR_ROLLINGFILE" />
  </logger>

  <root>
    <appender-ref ref="STDOUT" />
  </root>

</configuration>