/***********************************************
Style inputs for the entire page
***********************************************/
label::after {
	content: ':';
}

label.required::after {
	content: '*';
	color: #9C1111;
}

/***********************************************
Captcha form style
************************************************/
.captchaImage {
	margin-bottom: 0px;
	padding-bottom: 0px;
	color: #666;
	float: left;
}

.captchaImage .image {
	border: 1px #bbb solid;
	width: 300px;
	float: left;
	background: white;
	padding: 5px;
}

.captchaImage .image img {
	display: block;
	margin: auto;
}

/***********************************************
Form definition
***********************************************/
form .right {
	text-align: right;
}

.validatedForm .row {
	min-height: 25px;
	line-height: 25px;
	padding: 4px;
	position: relative;
}

.validatedForm .buttons {
	text-align: right;
	clear: both;
	margin: 10px 0;
}

.buttons input {
	float: none !important;
	width: auto !important;
	min-width: 120px;
}

/***********************************************
Generic Validated Form
***********************************************/
.validationFailed {
	background: #FAEBE7 !important;
}

.validationFailed:focus {
	background: #FAF6F6 !important;
	box-shadow: 0 0 5px rgba(255, 0, 0, 0.6);
	-webkit-box-shadow: 0 0 5px rgba(255, 0, 0, 0.6);
	-moz-box-shadow: 0 0 5px rgba(255, 0, 0, 0.6);
}

.validatedForm input,textarea {
	width: 300px;
	float: left;
}

.validatedForm input[type="text"],.validatedForm input[type="password"] {
	margin: 0;
	height: 20px;
}

.validatedForm select {
	width: 312px;
	margin: 3px 0px 0px 0px;
}

.validatedForm label {
	float: left;
	width: 180px;
	line-height: 25px;
	font-weight: normal;
	font-size: 14px;
}

.validatedForm .pushed {
	margin-left: 180px;
}

.alert span[id*="errors"] {
	display: list-item;
	list-style-position: inside;
	color: #666;
	font-size: 12px;
	line-height: 16px;
	margin: 0 10px;
}

/***********************************************
Graphics for valid/invalid inputs to a form
***********************************************/
.validation {
	display: none;
}

.validation span {
	display: none;
	margin-left: 3px;
	padding-left: 16px;
}

.validation span.accept {
	background: url('../../static/images/buttons/icons/accept.png') no-repeat center left;
}

.validation span.reject {
	background: url('../../static/images/buttons/icons/error.png') no-repeat center left;
}

/***********************************************
ToolTips
these appear to the right of an input box as a span
***********************************************/
.validatedForm .hover_tooltip {
	position: absolute;
	z-index: 10;
	display: none;
	width: 220px;
	margin-left: 8px;
	padding: 3px;
	background: #CCE0E6;
	box-shadow: 1px 1px 10px #999;
	-moz-box-shadow: 1px 1px 10px #999;
	-webkit-box-shadow: 1px 1px 10px #999;
	border: 1px gray dotted;
}

.validatedForm .hover_tooltip p {
	line-height: 14px;
	font-size: 12px;
	color: #333;
	margin: 2px;
}

/** adds a left arrow to the div. left should be set to -border-width x 2 */
.validatedForm .hover_tooltip_bak:after {
	content: '';
	display: block;
	position: absolute;
	top: 0px;
	left: -20px;
	width: 0;
	height: 0;
	border-color: transparent #FFFFCC transparent transparent;
	border-style: solid;
	border-width: 10px;
	z-index: 10;
}

.validatedForm .hover_tooltip .ttExample {
	border-top: 1px #333 dashed;
	padding-top: 4px;
	margin-top: 4px;
	color: #333;
}

/***********************************************
Registration and Activation Form Styles
***********************************************/
.registrationTerms {
	height: 220px;
	border: 1px #bbb solid;
	height: 150px;
	padding: 20px;
	overflow: auto;
	margin-bottom: 20px;
}

.objectSelect {
	margin: 8px 0 8px 0;
	padding: 4px;
	border: 1px solid;
	border-radius: 4px;
}

.highlightSelect {
	box-shadow: 0 0 8px rgba(0, 103, 178, 1);
	-webkit-box-shadow: 0 0 px rgba(0, 103, 178, 1);
	-moz-box-shadow: 0 0 8px rgba(0, 103, 178, 1);
	border-color: #56B4EF;
}

.yellowSelect {
	background-image: -webkit-linear-gradient(#FFEF5E, #EDA121);
	background-image: -o-linear-gradient(#FFEF5E, #EDA121);
	background-image: linear-gradient(#FFEF5E, #EDA121);
	background-position: 0 0;
	border-color: #ED9200;
}

.unselected {
	opacity: 0.5;
}

/***********************************************
Simple unordered list to present "table" style
information
***********************************************/
ul.info {
	list-style: none;
	color: black;
}

ul.info span {
	display: inline-block;
	width: 70px;
	margin-right: 10px;
	font-weight: bold;
	text-align: right;
}

/***********************************************
Simple table style to present form labels and values
***********************************************/
.info_table_form {
	border: 1px #ccc solid;
	border-radius: 4px;
}

.info_table_form tr td:first-child {
	font-weight: bold;
	width: 150px;
	margin-right: 10px;
}