/* Google web font import */
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,700,300);

body {
	background: #f0e9e1;
	font-family: 'Oxygen', sans-serif;
	font-weight: 300;
}

/* Default Link States */
a:link {
	color: #2a9d98;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #2a9d98;
	text-decoration: none;
}

/* ------------Default Headers and paragraph----------------- */
h1 {
	color: #645f5a;
	font-size: 30px;
	font-weight: 700;
}

h2 {
	color: #645f5a;
	font-size: 28px;
	font-weight: 700;
}

h3 {
	display: block;
	width: 100%;
	padding: 0;
	margin: 0 0 20px;
	font-size: 21px;
	font-weight: 300;
	line-height: 40px;
	color: #EA7858;
	border: 0;
	border-bottom: 1px dotted #999;
}

h4 {
	color: #2a9d98;
	font-size: 16px;
	font-weight: 300;
}

h5 {
	color: #645f5a;
	font-size: 14px;
	font-weight: 300;
}

h6 {
	color: #645f5a;
	font-size: 12px;
	font-weight: 300;
}

p {
	font-family: Verdana, sans-serif;
	font-size: 12px;
	color: #251b0a;
	line-height: 20px;
}

/* ---------- Button Elements ---------- */
.button {
	height: auto;
	margin: 0;
	color: #fff !important;
	line-height: 25px !important;
	padding: 5px 15px !important;
	background: #2a9d98 url(../images/btn-bg.jpg) top repeat-x;
	border: 1px solid #93ccc8;
	z-index: 50;
	cursor: pointer;
	position: relative;
	outline: none;
	text-align: center;
	-moz-box-shadow: -1px 1px 0px 0px #59938f;
	-webkit-box-shadow: -1px 1px 0px 0px #59938f;
	box-shadow: -1px 1px 0px 0px #59938f;
	font-size: 14px !important;
	text-decoration: none;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.button:hover {
	text-decoration: none;
	border: 1px solid #dc6f64;
	background: #eb7859 url(../images/btn-bg-hover.jpg) top repeat-x;
}

/* ---------- Structure Elements ---------- */
#header {
	background: url(../images/topStrip.jpg) repeat-x;
	position: relative;
}

#logo {
	margin: 0 0 0 -110px;
}

#copyright {
	height: 50px;
	background: #333333;
	border-top: 10px solid #1C6866;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: 300;
	line-height: 50px;
	text-align: center;
}

#footer {
	background: url(../images/background/bottom_bg.png);
}

.footerlinks {
	margin: 0 auto;
	font-size: .9em;
}

.footerlinks h2 {
	font-size: 18px;
	margin: 5px 0;
	color: #333333;
	font-weight: 700;
	line-height: 40px;
	padding: 0;
	color: #333333;
}

.footerlinks ul {
	margin: 0;
	padding: 0;
}

/***********************************************
Style inputs for the entire page
***********************************************/
label::after {
	content: ':';
}

label.required::after {
	content: '*';
	color: #9C1111;
}

.align-center {
	text-align: center;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.button-row {
	margin: 15px 0;
}

.button-row .button {
	min-width: 140px;
}

.button-row a.button {
	display: inline-block;
}

/***********************************************
Generic Validated Form
***********************************************/
.validationFailed {
	background: #FAEBE7 !important;
}

.alert span[id*="errors"] {
	display: list-item;
	list-style-position: inside;
	color: #666;
	font-size: 12px;
	line-height: 16px;
	margin: 0 10px;
}

/***********************************************
Graphics for valid/invalid inputs to a form
***********************************************/
.validation {
	display: none;
}

.validation span {
	display: none;
	margin-left: 3px;
	padding-left: 16px;
}

.validation span.accept {
	background: url('../../static/images/buttons/icons/accept.png') no-repeat center left;
}

.validation span.reject {
	background: url('../../static/images/buttons/icons/error.png') no-repeat center left;
}

/***********************************************
Registration and Activation Form Styles
***********************************************/
.registrationTerms {
	height: 280px;
	border: 1px #bbb solid;
	padding: 20px;
	overflow: auto;
	margin-bottom: 20px;
}

/***********************************************
Simple unordered list to present "table" style
information
***********************************************/
ul.info {
	list-style: none;
	color: black;
}

ul.info span {
	display: inline-block;
	min-width: 85px;
	margin-right: 10px;
	font-weight: bold;
	text-align: right;
}

/***********************************************
Simple table style to present form labels and values
***********************************************/
.info_table_form {
	border: 1px #ccc solid;
	border-radius: 4px;
}

.info_table_form tr td:first-child {
	font-weight: bold;
	width: 150px;
	margin-right: 10px;
}

/* **************************************************************************
* Conatiner Helpers
************************************************************************** */
.contentContainer {
	width: 970px;
}

.content {
	background: #fbf8f6;
	padding: 15px;
	border-top: 8px solid #2a9c97;
}

/* Border with more whitespace, spans one column. */
.colborder {
	padding-right: 24px;
	margin-right: 25px;
	border-right: 1px solid #dc6f64;
}

/* Border with more whitespace, spans one column. */
.colborderleft {
	padding-left: 25px;
	margin-left: -26px;
	border-left: 1px solid #dc6f64;
}

.hidden {
	display: none !important;
}

ul.menu li {
	padding: 5px 0 5px 15px;
	background-image: url(../images/buttons/marker-footer.png);
	background-repeat: no-repeat;
	background-position: left center;
	display: block;
	line-height: 20px;
}

/* **************************************************************************
* Javascript Containers
************************************************************************** */
#jsCheck {
	width: 100%;
	height: 50px;
	line-height: 50px;
	border: 1px black solid;
	background: #eee;
	position: fixed;
	top: 25%;
	left: 0;
	z-index: 500;
	font-size: 20px;
	text-align: center;
	vertical-align: center;
	z-index: 500;
}

#jsCheckCurtain {
	background-color: #111;
	opacity: 0.45;
	filter: alpha(opacity =                                                                                                      
		0.45);
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 200;
	width: 100%;
	height: 100%;
}

/* **************************************************************************
* Button and Link Styles
************************************************************************** */
#menutop {
	list-style: none;
	display: inline-block;
	position: absolute;
	top: 50px;
	right: 0;
	z-index: 1;
}

#menutop li {
	float: left;
	margin: 0 5px;
	font-family: Verdana, sans-serif;
	font-weight: bold;
}

#menutop li.button {
	height: 23px;
	line-height: 23px !important;
	padding: 0 5px;
	border: 3px solid #93ccc8;
	-moz-box-shadow: -2px 2px 0 0 #59938f;
	-webkit-box-shadow: -2px 2px 0 0 #59938f;
	box-shadow: -2px 2px 0 0 #59938f;
}

#menutop li.button:hover {
	border: 3px solid #dc6f64;
	background: #eb7859 url(../images/btn-bg-hover.jpg) top repeat-x;
}

#loginMenu {
	position: absolute;
	top: 3px;
	right: 0;
	text-align: right;
}

.accountNav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* **************************************************************************
* Tables
* 	Because of the need for padding on TH and TD, the vertical rhythm 
*	on table cells has to be 27px, instead of the standard 18px or 36px 
*	of other elements. 
************************************************************************** */
table {
	margin-bottom: 1.4em;
	width: 100%;
	border-spacing: 0;
	border-collapse: separate;
	border-color: transparent;
	font-size: 14px;
}

th {
	font-weight: bold;
	text-align: left;
}

thead th {
	background: #c3d9ff;
}

th,td,caption {
	padding: 4px 10px 4px 5px;
}
/*
	You can zebra-stripe your tables in outdated browsers by adding 
	the class "even" to every other table row. 
 */
tbody tr:nth-child(even) td,tbody tr.even td {
	background: #ededed;
}

tfoot {
	font-style: italic;
}

caption {
	background: #eee;
}

td {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
/* **************************************************************************
* Page Specific Styles
************************************************************************** */
.overviewLabel h4 {
	float: left;
	display: inline-block;
	margin: 10px 0;
}

.overviewLabel .badge {
	float: right;
	margin: 10px 0;
}

a.next {
	float: right;
	margin-bottom: 20px;
	padding-right: 20px;
	background-image: url(../images/icons/control_fastforward.png);
	background-repeat: no-repeat;
	background-position: right center;
}

a.next:hover {
	background-image: url(../images/icons/control_fastforward_blue.png);
}

a.prev {
	float: left;
	margin-bottom: 20px;
	padding-left: 20px;
	background-image: url(../images/icons/control_rewind.png);
	background-repeat: no-repeat;
	background-position: left center;
}

a.prev:hover {
	background-image: url(../images/icons/control_rewind_blue.png);
}