/* Google web font import */
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,700,300);

body {
	background: #f0e9e1;
	font-family: 'Oxygen', sans-serif;
	font-weight: 300;
}

/* Default Link States */
a:link {
	color: #2a9d98;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #2a9d98;
	text-decoration: none;
}

.revLink {
	color: #ea7858 !important;
}

/* ------------Default Headers and paragraph----------------- */
h1 {
	color: #645f5a;
	font-size: 30px;
	font-weight: 700;
}

h2 {
	color: #645f5a;
	font-size: 28px;
	font-weight: 700;
}

h3 {
	display: block;
	width: 100%;
	padding: 0;
	margin: 0 0 20px;
	font-size: 21px;
	font-weight: 300; line-height : 40px;
	color: #EA7858;
	border: 0;
	line-height: 40px; color : #EA7858; border : 0;
	border-bottom: 1px dotted #999;
}

}
h4 {
	color: #2a9d98;
	font-size: 16px;
	font-weight: 300;
}

h5 {
	color: #645f5a;
	font-size: 14px;
	font-weight: 300;
}

h6 {
	color: #645f5a;
	font-size: 12px;
	font-weight: 300;
}

p {
	font-family: Verdana, sans-serif;
	font-size: 12px;
	color: #251b0a;
	line-height: 20px;
}

/* ---------- Button Elements ---------- */
input[type="submit"],input[type="reset"],.mBtn {
	height: auto;
	margin: 0;
	color: #fff !important;
	padding: 10px 25px;
	line-height: 32px;
	background: #2a9d98 url(../../images/btn-bg.jpg) top repeat-x;
	border: 3px solid #93ccc8;
	z-index: 50;
	cursor: pointer;
	position: relative;
	outline: none;
	text-align: center;
	-moz-box-shadow: -2px 2px 0px 0px #59938f;
	-webkit-box-shadow: -2px 2px 0px 0px #59938f;
	box-shadow: -2px 2px 0px 0px #59938f;
}

.button {
	height: auto;
	margin: 0;
	color: #fff !important;
	line-height: 25px !important;
	padding: 5px 15px !important;
	background: #2a9d98 url(../../images/btn-bg.jpg) top repeat-x;
	border: 1px solid #93ccc8;
	z-index: 50;
	cursor: pointer;
	position: relative;
	outline: none;
	text-align: center;
	-moz-box-shadow: -1px 1px 0px 0px #59938f;
	-webkit-box-shadow: -1px 1px 0px 0px #59938f;
	box-shadow: -1px 1px 0px 0px #59938f;
	font-size: 14px !important;
	text-decoration: none;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.button:hover {
	text-decoration: none;
	border: 1px solid #dc6f64;
	background: #eb7859 url(../../images/btn-bg-hover.jpg) top repeat-x;
}

input[type="submit"]:hover,input[type="reset"]:hover,.mBtn:hover,.active {
	text-decoration: none;
	background: #eb7859 url(../../images/btn-bg-hover.jpg) top repeat-x;
	border: 3px solid #dc6f64;
}

.mBtnSlim {
	height: 23px;
	line-height: 24px;
	padding: 0 5px;
	margin: -10px 0 0 0 !important;
	font-size: 12px;
	font-weight: normal;
	word-spacing: normal;
	letter-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	textshadow: none;
	display: inline-block;
	-webkit-box-align: center;
	box-sizing: border-box;
	border-width: 1px !important;
	box-shadow: none !important;
}

/* Drop shadow */
.ds {
	-moz-box-shadow: -2px 2px 1px 1px #666666;
	-webkit-box-shadow: -2px 2px 1px 1px #666666;
	box-shadow: -2px 2px 1px 1px #666666;
}

/* ---------- Structure Elements ---------- */
#header {
	background: url(../../images/topStrip.jpg) repeat-x;
	position: relative;
}

#logo {
	margin: 0 0 0 -110px;
}

#copyright {
	height: 50px;
	background: #333333;
	border-top: 10px solid #1C6866;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: 300;
	line-height: 50px;
	text-align: center;
}

#footer {
	background: url(../../images/background/bottom_bg.png);
}

.footerlinks {
	margin: 0 auto;
}

.footerlinks h2 {
	font-size: 18px;
	margin: 5px 0;
	color: #333333;
	font-weight: 700;
	line-height: 40px;
	padding: 0;
	color: #333333;
}

.footerlinks ul {
	margin: 0;
	padding: 0;
}