/* Google web font import */
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,700,300);

* {
	margin: 0;
	padding: 0;
}

body {
	background: #f0e9e1;
	font-family: 'Oxygen', sans-serif;
	font-weight: 300;
}

/* Default Link States */
a:link {
	color: #2a9d98;
	text-decoration: none;
	font-size: 12px;
}

a:hover {
	text-decoration: underline;
}

a:active {
	
}

a:visited {
	color: #2a9d98;
	text-decoration: none;
	font-size: 12px;
}

.revLink {
	color: #ea7858 !important;
}

/* ------------Default Headers and paragraph----------------- */
h1 {
	color: #645f5a;
	font-size: 30px;
	font-weight: 700;
}

h2 {
	color: #645f5a;
	font-size: 28px;
	font-weight: 700;
}

h3 {
	color: #ea7858;
	font-size: 18px;
	font-weight: 400;
}

h4 {
	color: #2a9d98;
	font-size: 16px;
	font-weight: 300;
}

h5 {
	color: #645f5a;
	font-size: 14px;
	font-weight: 300;
}

h6 {
	color: #645f5a;
	font-size: 12px;
	font-weight: 300;
}

p {
	font-family: Verdana, sans-serif;
	font-size: 12px;
	color: #251b0a;
	line-height: 20px;
}

/* Button */
input[type="submit"],input[type="reset"],.mBtn {
	height: auto;
	margin: 0;
	color: #fff !important;
	padding: 10px 25px;
	background: #2a9d98 url(../../images/btn-bg.jpg) top repeat-x;
	border: 3px solid #93ccc8;
	font-size: 15px;
	z-index: 50; pointer;
	position: relative;
	outline: none;
	font-weight: 700;
	text-align: center;
	line-height: 32px;
	-moz-box-shadow: -2px 2px 0px 0px #59938f;
	-webkit-box-shadow: -2px 2px 0px 0px #59938f;
	box-shadow: -2px 2px 0px 0px #59938f;
}

input[type="submit"]:hover,input[type="reset"]:hover,.mBtn:hover,.active {
	text-decoration: none;
	background: #eb7859 url(../../images/btn-bg-hover.jpg) top repeat-x;
	border: 3px solid #dc6f64;
}

.loginBtn {
	background: none repeat scroll 0 0 #FFCD2B;
	color: #B28634 !important;
	margin-left: 12px;
	padding: 8px 20px;
	font-weight: 700;
	text-transform: uppercase;
}

/* Drop shadow */
.ds {
	-moz-box-shadow: -2px 2px 1px 1px #666666;
	-webkit-box-shadow: -2px 2px 1px 1px #666666;
	box-shadow: -2px 2px 1px 1px #666666;
}

/* Numbered Steps */
.nt-container {
	width: 290px;
	height: 130px;
	background: #fff url(../../images/wotg-numtask-sidebar.jpg) repeat-y;
	padding: 1px 0 10px 0;
}

.nt-top-bar {
	margin: -28px auto 0 auto;
	width: 257px;
	height: 52px;
	background: url(../../images/wotg-numtask-bg.jpg) repeat-x;
	border: 3px solid #f3a49d;
	position: relative;
}

.nt-num {
	float: left;
	margin-left: 6px;
	width: 50px;
	height: 50px;
	font-size: 24px;
	text-align: center;
	line-height: 50px;
	color: #fff;
	text-shadow: -1px 1px 1px #000;
	background: url(../../images/wotg-number-badge.png) no-repeat;
}

.nt-step {
	font-size: 16px;
	font-weight: 700;
	color: #fff;
	vertical-align: top;
	line-height: 50px;
	float: left;
	padding-left: 15px;
	text-shadow: -1px 1px 1px #000;
}

.nt-content {
	width: 207px;
	margin: 12px 0 0 58px;
	font-size: 12px;
	color: #333;
	line-height: 24px;
}

.stepWrap {
	padding: 68px 0 40px 20px;
	background: #827D78;
}

.wrap {
	padding: 20px 0;
	border-bottom: 1px dashed #666;
}

/* ---------- Structure Elements ---------- */
#container {
	width: 950px;
	/* padding: 0 10px; */
	/* margin: 0 auto; */
	padding-bottom: 343px;
}

#rt-header {
	background: url(../../images/topStrip.jpg) repeat-x;
	height: 93px;
	width: 100%;
}

#logo { /* margin: -93px 0 0 -110px; */
	margin: 0 0 0 -110px;
}

#bottom {
	width: 100%;
	min-height: 235px;
	background: url(../../images/bottom_bg.png);
	margin-top: 40px; 
}

#footer {
	width: 100%;
	height: 68px;
	background: url(../../images/wotg-footer-texture.jpg) repeat-x;
}